body {
    background: #8b1a1a;
}

#content {
    max-width: 210mm;
    margin: 0 auto;
}

#main {
    min-height: calc(100vh - 4em - 12pt);
    background: #fff;
    padding: 2em;
    border-radius: 5pt;
}

.columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
}

.columns li {
    display: table;
}

.separator {
    padding-right: 1ex;
}

.linebreak {
    overflow-wrap: break-word;
}

.rule {
    white-space: nowrap;
}

.explanation {
    margin-bottom: 1em;
}

.LaTeX {
    display: none;
}

.LaTeXbtn {
    display: block;
}

.configuration {
    font-size: 71%;
    margin-bottom: 1em;
}

.question, .answer {
    display: inline-block;
}

.exlist, .sollist {
    counter-reset: exlist-counter;
    list-style-type: none;
    margin-top: 0px;
}

.exlist li, .sollist li {
    padding-bottom: .5ex;
}

.exlist li:before, .sollist li:before {
    content: counter(exlist-counter, lower-alpha) ". ";
    counter-increment: exlist-counter;
    font-style: italic;
    padding-right: 1ex;
    display: inline-block;
    width: 3ex;
    text-align: right;
}

.reload, .remove {
    display: none;
    width: 3ex;
    text-align: right;
    font-size: 170%;
}

#questions .first .question:hover .reload {
    display: inline-block;
}

#worksheet .question:hover .remove {
    display: inline-block;
}

#questions .shortexplanation {
    display: none;
}

#worksheet .shortexplanation {
    display: inline;
}

.rule {
    padding-right: 1ex;
}

button {
    font-family: inherit;
    font-size: inherit;
}

@media print {
    #options, #type {
	display: none;
    }

    #questions, #wkqns {
	break-after: always;
	page-break-after: always;
    }

    body {
	background: #fff;
    }

    #content {
	min-height: 0px;
	padding: 0pt;
	border-radius: 0pt;
    }

    .LaTeXbtn {
	display: none;
    }

    .srcURL {
	display: none;
    }

    #tabsdiv {
	display: none;
    }

}

#tabsdiv {
    padding: 0px;
}

#tabs {
    display: inline;
    list-style-type: none;
    margin: 0px;
    vertical-align: bottom;
}

.tabstyle {
    border-radius: 5px 5px 0px 0px;
    background-color: #aaa;
    padding: 5px 5px 2px 5px;
    display: inline;
    margin-left: 2px;
}

.tabstyle .current {
    color: #fff;
}

.nolink {
    text-decoration: none;
    color: black;
}

#worksheet {
    display: none;
}

@keyframes fadeOutIn {
    from {
	color: #000;
    }

    50% {
	color: #fff;
    }
    
    to {
	color: #000;
    }
}

.fadeOutIn {
    animation: 1s fadeOutIn;
}
